footer{
	position: relative;
	background-image: url(../img/bg-fons/footer-bg.webp);
	background-position: center;
	background-size: 100% 150%;
	background-repeat: no-repeat;

	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
	@media screen and (min-width:1366px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.footer-logo-block{
	
	@media screen and (min-width:1366px) {
		width: 33%;
	}
	.footer-logo{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-bottom: 10px;
	}
	.footer-fact{
		opacity: 0.6;
		margin-bottom: 20px;
		position: relative;
		z-index: 2;
	}
}



.logo-title{
	transition: all 0.6s ease;
}
.logo-title:hover, .logo-title:focus{
	box-shadow: inset #57A8FA 0 0 40px 10px,
	#57A8FA 0 0 24px 12px;
}

.about-us-list{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 50%;
	height: 100%;
	justify-content: space-evenly;
}
.marketplace-list{
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
	height: 100%;
	justify-content: space-evenly;
	@media screen and (min-width:1366px) {
		text-align: start;
	}
}
.сompany-list{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 2;
	height: 100%;
	justify-content: space-evenly;
	@media screen and (min-width:1366px) {
		align-items: flex-start;
		text-align: start;
		//width: 30%;
	}
}

@media screen and (min-width:768px) {
	.footer-tablet-box{
		display: flex;
		justify-content: space-evenly;
		& .footer-about-us-box:nth-child(2){
			justify-content: center;
			width: 20%;
		}
	}
}
@media screen and (min-width:1366px) {
	.footer-tablet-box{
		width: 66%;
		justify-content: space-evenly;
		& .footer-about-us-box:nth-child(2){
			justify-content: center;
			width: 20%;
		}
	}
}

.footer-about-us-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	a:hover{
		color: var(--primary);
	}
	@media screen and (min-width:768px) {
		width: calc(100%/3);
		justify-content: space-between;
	}
	@media screen and (min-width:1024px) {
		width: calc(100%/3);
		flex-direction: row-reverse;
		
	}
}


.circle {
	position: absolute;
	top: 22px;
	left: 24px;
  margin:0;
  background: radial-gradient(#60AAFE, #0455F1, #D86AF7);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.6s ease;
	
}


.circle1,
.circle2 {
  background: radial-gradient(#60AAFE, #0455F1, #D86AF7);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  transition: all 0.6s ease;
  //position: absolute;
  margin: 0;
	
	
  //transform:rotateX(-90deg) translateZ(100px) rotate(180deg);
}

/*при наведении на фигуру*/
.circle:hover, .circle:focus,
.circle1:hover, .circle1:focus,
.circle2:hover, .circle2:focus{
  box-shadow: inset var(--primary) 0 0 40px 10px,
              var(--primary) 0 0 24px 12px;
}

.donut {
	position: relative;
  border: 1px solid  #F0FFFF;
  border-radius: 150px;
  height:80px;
  width:80px;
  box-shadow: inset var(--primary) 0 0 20px 5px,
              var(--primary) 0 0 22px 7px;
							
}


.orbit1 {
  position: absolute;
  top: 30px;
	left: 18px;
  
  animation: Orbita 10s linear infinite;
	//animation-delay: 1s;
}
.orbit2 {
  position: absolute;
	top: 33px;
	left: 35px;
  animation: Orbita2 10s linear infinite; 
	animation-direction: reverse;
}
.orbit3 {
  position: absolute;
  top: 40px;
	left: 25px;
  
  animation: Orbita 8s linear infinite;
	//animation-delay: 1s;
}
.orbit4 {
  position: absolute;
	top: 50px;
	left: 15px;
  animation: Orbita2 12s linear infinite; 
}

@keyframes Orbita {
  from {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes Orbita2 {
  from {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}

.social-list{
	display: flex;
	justify-content: space-between;
	margin: 20px 0;

	@media screen and (min-width:568px) {
		justify-content: space-evenly;
	}
	@media screen and (min-width:1024px) {
		justify-content: center;
		gap:20px;
	}
	@media screen and (min-width:1366px) {
		position: absolute;
		right: 10%;
		bottom: 2%;
	}


	&_item{
		width: 40px;
		height: 40px;
		border-radius: 8px;
		transition: all 300ms ease;

		@media screen and (min-width:768px) {
			width: 60px;
			height: 60px;
		}
		
		&:hover, &:focus{
			box-shadow: inset var(--primary) 0 0 20px 5px,
              var(--primary) 0 0 22px 7px;
			background-color: var(--white) ;
		}
		.social-link-img{
			width: 100%;
			height: 100%;
			border-radius: 8px;
		}
	}
}

.copyright{
	.autor{
	margin: 20px 0 20px ;
	p{
		margin-bottom: 20px;
	}
	@media screen and (min-width:1366px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		p{
			margin: 0;
		}
	}
	.love{
		display: inline-block;
		color: rgb(255, 0, 0);

		box-shadow: inset rgba(255, 0, 0, .1) 0 0 20px 10px,
		rgba(255, 0, 0, .1) 0 0 14px 16px;

		animation-name: love;
		animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
		animation-duration: 1s;
		animation-iteration-count: infinite;
		
	}
	
	&-name{

		padding: 2px 10px;
		border-radius: 20px;
		background-color: #0455F1;
		animation-name: filterColor;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		box-shadow: inset var(--primary) 0 0 20px 10px,
              var(--primary) 0 0 14px 6px;
		}
		
	}
}

@keyframes filterColor {
	100%{
		filter: hue-rotate(360deg);
	}
}


@keyframes love {
	0%{transform: scale(1);
	}
	25%{transform: scale(1.2);
	}
	50%{
		transform: scale(1);
	}
	75%{
		transform: scale(1.2);
	}
}
